num_gpus: 1
model: 'AdapNet_earlymid'
dataset_name: 'scenenet'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'normals'
num_classes:
  - 14
  - 3
orig_intialize:  'init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'checkpoints/scenenet/earlymid_initOrig/'
summary_dir: 'graphs/scenenet/earlymid_initOrig/'
train_data: 'scenenet_train.txt'
aux_loss_mode: 'both'
batch_size: 16
skip_step: 5
height: 240
width: 320
max_iteration: 150000
learning_rate: 0.001
save_step: 10000
summaries_step: 400
power: 0.9
