num_gpus: 7
model: 'AdapNet_join'
dataset_name: 'scenenet'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'normals'
num_classes:
  - 14
  - 3
orig_intialize:  '/nethome/shickson3/AdapNet-pp/init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'checkpoints/scenenet/joined2/'
summary_dir: 'graphs/scenenet/joined2/'
train_data: './scenenet_train.txt'
batch_size: 16
skip_step: 5
height: 240
width: 320
max_iteration: 150000
learning_rate: 0.001
save_step: 10000
summaries_step: 400
power: 0.9
