gpu_id: '0'
model: 'AdapNet_pp'
num_classes: 3
dataset_name: 'scenenet'
input_modality: 'rgb'
output_modality: 'normals'
intialize:  '/nethome/shickson3/AdapNet-pp/init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: '/nethome/shickson3/AdapNet-pp/checkpoints_scenenet_normals2/'
summary_dir: '/nethome/shickson3/AdapNet-pp/graphs_normals2/'
train_data: './scenenet_train.txt'
batch_size: 32
skip_step: 5
height: 240
width: 320
max_iteration: 150000
learning_rate: 0.001
save_step: 2000
summaries_step: 400
power: 0.9
