num_gpus: 4
model: 'AdapNet_pp'
dataset_name: 'cityscapes19'
input_modality: 'rgb'
output_modality:
  - 'labels'
num_classes:
  - 20
orig_intialize:  'init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'checkpoints/cityscapes/labels_19'
summary_dir: 'graphs/cityscapes/labels_19'
train_data: 'cityscapes_train.txt'
batch_size: 7
skip_step: 5
height: 384
width: 768
max_iteration: 150000
learning_rate: 0.001
save_step: 2000
summaries_step: 400
power: 0.9
aug_max_rotation: 7
aug_flip_prob: 0.5
aug_blur_max: 9
aug_max_noise_var: 0.003
aug_max_crop_percent: 0.45
