num_gpus: 4
model: 'AdapNet_shared'
dataset_name: 'cityscapes19'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'depth'
num_classes:
  - 20
  - 1
loss_weights:
  - 2.0
  - 1.0
intialize:  'checkpoints/scannet/shared_n_102/model.ckpt-150000'
checkpoint: 'checkpoints/cityscapes/shared_dl'
summary_dir: 'graphs/cityscapes/shared_dl'
train_data: 'cityscapes_train.txt'
batch_size: 7
skip_step: 5
height: 384
width: 768
max_iteration: 150000
learning_rate: 0.001
save_step: 2000
summaries_step: 400
power: 0.9
aug_max_rotation: 7
aug_flip_prob: 0.5
aug_blur_max: 9
aug_max_noise_var: 0.003
aug_max_crop_percent: 0.45
buffer_size: 64
data_repeat: 600
