gpu_id: '0'
model: 'AdapNet_pp'
num_classes: 41
intialize:  '/home/steve/git/AdapNet-pp/init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'checkpoints/'
train_data: '/media/steve/Lilim/scannet_train.txt'
batch_size: 8 
skip_step: 5
height: 480
width: 640
max_iteration: 20000
learning_rate: 0.001
save_step: 2000
power: 0.9
