num_gpus: 6
model: 'AdapNet_join'
dataset_name: 'scannet'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'normals'
num_classes:
  - 21
  - 3
orig_intialize:  'init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'checkpoints/scannet/joined/'
summary_dir: 'graphs/scannet/joined/'
train_data: 'scannet_train.txt'
batch_size: 6
skip_step: 5
height: 384
width: 768
max_iteration: 150000
learning_rate: 0.001
save_step: 2000
summaries_step: 400
power: 0.9
aug_max_rotation: 7
aug_flip_prob: 0.5
aug_blur_max: 7
aug_max_noise_var: 0.0025
aug_max_crop_percent: 0.15
