gpu_id: '0'
model: 'AdapNet_join'
dataset_name: 'scannet'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'normals'
num_classes:
  - 21
  - 3
orig_intialize:  'init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'checkpoints_scannet_normals_labels/'
summary_dir: 'graphs_scannet_normals_labels/'
train_data: 'scannet_train.txt'
batch_size: 8
skip_step: 5
height: 384
width: 768
max_iteration: 150000
learning_rate: 0.001
save_step: 5000
summaries_step: 400
power: 0.9
