num_gpus: 6
model: 'AdapNet_shared'
dataset_name: 'scannet'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'normals'
num_classes:
  - 21
  - 3
intialize:  'scannetv2_rgb/model'
checkpoint: 'checkpoints_scannet_shared/'
summary_dir: 'graphs_scannet_shared/'
train_data: 'scannet_train.txt'
batch_size: 6
skip_step: 5
height: 384
width: 768
max_iteration: 150000
learning_rate: 0.001
save_step: 5000
summaries_step: 400
power: 0.9
