num_gpus: 1
model: 'AdapNet_shared'
dataset_name: 'nyu13'
input_modality: 'rgb'
output_modality:
  - 'labels'
  - 'normals'
num_classes:
  - 14
  - 3
loss_weights:
  - 1.0
  - 10.0
intialize:  'checkpoints/scannet/shared_n_102/model.ckpt-150000'
checkpoint: 'checkpoints/nyu13/shared_initScannet/'
summary_dir: 'graphs/nyu13/shared_initScannet/'
train_data: 'nyu_train.txt'
aux_loss_mode: 'true'
batch_size: 8
skip_step: 5
height: 384
width: 768
max_iteration: 150000
learning_rate: 0.001
save_step: 5000
summaries_step: 400
power: 0.9
aug_max_rotation: 7
aug_flip_prob: 0.5
aug_blur_max: 7
aug_max_noise_var: 0.0025
aug_max_crop_percent: 0.15
buffer_size: 64
fine_tune: 1
data_repeat: 1200
